
html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body {
    background-color: #eaeff2;
}

.navbar {
  background: #1117cb;
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
}