

.note-list h1 {
    text-align: center;
    color: darkcyan;
    flex: 1;
}


.note-list .note {
    border:1px solid #6e6b6b;
    border-radius: 4px;
    width: 250px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

    background-color: white;
    padding: 5px;  
    vertical-align: top;  
    height: 280px;
}

.note-list .note h3  {
    text-align: center;
    color: #333;
}

.note-list .note label {
    color: #979b9d;
    font-size: 12px;
}

.note-list .note img {
    max-width: 100%;
    max-height: 160px;
}

.note-list .title-row {
    display: flex;
    align-items: center;
    padding-right: 10px;
}



.note-details {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.note-details .main-img {
    max-width: 100%;
}

.note-details h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: darkcyan;
}

.note-details .date {
    font-size: 12px;
    color: #999b9b;
}


.note-details p {
    white-space: pre-wrap;
}

.note-delete {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10rem;
    text-align: center;
}

.note-delete button {
    margin-left: 10px;
}

.note-delete form {
    margin-top:20px;
}

@media(max-width:767px) {
    /* CSS for MOBILE */

    .note-list .title-row {
       flex-direction: column;
       padding-right: unset;
       margin-bottom: 12px;
    }

    .note-list .note {
        width: 100%;
        margin: 6px 0;
        height: unset;
    }


    .note-list .list {
        padding: 0 12px;
    }
    

    .note-list .note img {
        width: 100%;
        height: unset;
        max-height: unset;
    }
}
